.sort{
    width:100%;
    font-size:80%;
    text-align:right;
    padding-bottom:5px;
    padding-top:0px;
}
.tests{
    width:100%;
    border:1px solid #220055;
    font-size:90%;
}
.tests_{
    width:100%;
    border:1px solid #220055;
    border-bottom:0px solid #220055;
    font-size:90%;
}
.msgdetails{
    font-size:80%;
}
.party, .party_{
    width:60px;
    padding-left:10px;
}
.nosubmissions{
    font-style:italic;
    text-align:center;
    font-size:90%;
}
td.time,td.time_{
    width:60px;
    padding-left:10px;
}
td.prob,td.prob_{
    width:80px;
}
td.time,td.prob,td.party{
    border-bottom:1px solid #220055;
}